<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container">
        <div class="img-wrapper">
            <img src="./inc/img/background.png" alt="#" class="background-img">
        </div>
        <div class="background-wrapper">
            <p class="top-text">Annual Congress 2021 <span class="date">10-11 Juni </span> </p>
            <h1 class="heading">Pediatric Integrative Medicine</h1>
            <p class="bottom-text">Building bridges between conventional and complementary medicine</p>
            <button class="main-button"><a class="button-text" href="#">Register</a></button>
        </div>
    </div>

    <div class="whitespace"></div>
    <div class="main-wrapper">
        <img src="./inc/img/doctor.png" alt="" class="doctor-img">

    </div>


</body>
</html>